// Here you can add other styles

.event-feedback {
  margin-left: 20px;
}

.messages-container {
  position: relative;
  z-index: 9999;
}

.messages-subcontainer {
  position: fixed;
  top: 15px;
  right: 15px;
}
